#band {
    width: 100%;
    height: 7px;
    background-color: rgb(4, 166, 255);
    margin-bottom: 50px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border:1px solid green;
}
h3, h2, h4 {
    font-family: sans-serif;
    margin: 0;
    color: green;
    text-align: center;
}

button {
     width: 10%;
  background-color: #4CAF50;
  color: white;
  padding: 10px 8px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=text], input[type=number] {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


button:active {
    background-color: rgb(0, 81, 125);
}

button:hover {
    opacity: 0.7;
}